/infoAttoreCloud/target/
/infoAttoreCloud/.settings/
/infoAttoreCloud/.classpath
/infoAttoreCloud/.project
/infoAttoreCloud/.mvn/wrapper
/mainServiceCloud/target/
/mainServiceCloud/.settings/
/mainServiceCloud/.classpath
/mainServiceCloud/.project
/mainServiceCloud/.mvn/wrapper
/numeroFilmCloud/target/
/numeroFilmCloud/.settings/
/numeroFilmCloud/.classpath
/numeroFilmCloud/.project
/numeroFilmCloud/.mvn/wrapper
/eurekaServer/target/
/eurekaServer/.settings/
/eurekaServer/.classpath
/eurekaServer/.project
/eurekaServer/.mvn/wrapper